PORT=3000
DB_HOST=endpoint-rds-postgresql.amazonaws.com
DB_PORT=5432
DB_NAME=cruzazul
DB_USER=postgres
DB_PASSWORD=CAMBIAR_PASSWORD

JWT_SECRET=CAMBIAR_SECRETO_JWT
ADMIN_USER=admin
ADMIN_PASS=CAMBIAR_PASSWORD_ADMIN
MFA_CODE=123456
